/* client/src/index.css */

:root {
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* Prevents double scrollbars */
}

#root {
  width: 100%;
  height: 100%;
}